.reactCrop {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
  background: #000;
  touch-action: none;
}

.reactCrop__crop-selection {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;
  cursor: move;
  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.5);
  touch-action: none;
}

.reactCrop__drag-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(66, 133, 244);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.reactCrop__drag-handle::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.reactCrop__drag-handle--n {
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: n-resize;
}

.reactCrop__drag-handle--ne {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
}

.reactCrop__drag-handle--e {
  top: 50%;
  right: -5px;
  transform: translate(0, -50%);
  cursor: e-resize;
}

.reactCrop__drag-handle--se {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
}

.reactCrop__drag-handle--s {
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: s-resize;
}

.reactCrop__drag-handle--sw {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
}

.reactCrop__drag-handle--w {
  top: 50%;
  left: -5px;
  transform: translate(0, -50%);
  cursor: w-resize;
}

.reactCrop__drag-handle--nw {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
}

.reactCrop__image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.reactCrop__crop-selection--disabled {
  cursor: inherit;
}

.reactCrop__crop-selection--disabled .reactCrop__drag-handle {
  cursor: inherit;
}
